# Ignore artifacts:
build
coverage
.github
node_modules
test-results
.gitignore
.prettierignore
.prettierrc
package-lock.json
package.json   
plawright.config.ts
.eslintrc.json
.eslintignore
eslint.config.js
dist
playwright.config.ts